<tr id="article-{{ article.ctid }}">
	<td><input value="{{article.ctid}}" type="checkbox" data-role="batch-item" > {{article.ctid}}</td>
	<td>
			<span class="text-muted"><a href="" target="_blank">{{ article.title | slice(0,22) }}{% if article.title|length >22 %}...{% endif %}</a></span>
			<br>
			<span class="text-muted text-sm">{{ article.url }}</span>
	</td>
	<td>{{ article.author }}</td>
	<td>
	{% if article.category %}
		<span class="text-muted">{{ article.category }}</span>
		{% else %}
		<span class="text-muted">未分类</span>
	{% endif %}
	</td>
	<td><span class="text-muted">{{ article.type }}</span></td>

	<td>{{ article.dateline|date('Y-n-d H:i') }}</td>

	<td>
		<div class="btn-group">
		  	<a href="javascript:" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-url="/admin/collection/post/{{ article.ctid }}">编辑</a>
		  	<a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		  	</a>
		  	<ul class="dropdown-menu">
		  		<li><a href="javascript:" data-toggle="modal" data-target="#modal" data-url="/admin/collection/blog/{{ article.ctid }}">采集</a></li>
		  		<li class="divider"></li>
		  		<li><a href="javascript:" data-role="delete-item" data-url="/admin/collection/delete/{{ article.ctid }}">永久删除</a></li>
		  </ul>
		</div>
	</td>
</tr>