{% extends 'index/layout.html.twig' %}

{% set script_controller = 'course/chapters' %}

{% block content %}
<!--account information start-->
    <div class="m-split-view" id="uber-wrap">
    	<div class="container">
			<div class="row">
			<!--book information starts-->
        		<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="m-flow-title">
						<h2 id="course-title-show">{{ course.title }}</h2>
						<p class="small">
                            by <a href="/u/{{ course.username }}">{{ course.username }}</a>
							<span>•</span> {{ menus|length }}篇 <span>•</span>
							<a href="/flows/#{{ course.category }}" id='course-category-show'>{{ course.category }}</a>
						</p>
						<!--button starts-->
						<div class="m-actions">
                            {% if app %}
                            {% if owner %}
							<div class="btn-group">
								{# <button type="button" class="btn grey"  data-reveal-id="edit-course" data-animation="fade"  data-toggle="modal" data-target="#edit-course"><span class="icon-m-pencil"></span>编辑</button> #}
                                <a class="btn grey" data-url="/course/modal/chapter/edit/{{ course.cid }}" data-toggle="modal" href="#edit" data-target="#modal"><span class="icon-m-pencil"></span>编辑</a>
							</div>
                            {% else %}
                            {# <div class="btn-group">
                                <button type="button" class="btn"><span class="icon-m-pencil"></span>开始学习</button>
                            </div> #}
                            {% endif %}
                            {% else %}
                            <div class="btn-group">
                                <button type="button" class="btn" data-toggle="modal" data-target="#id_login">加入墨客</button>
                            </div>
                            {% endif %}
							{# <div class="btn-group">
								<button type="button" class="btn grey"><span class="icon-m-weibo"></span>微博分享</button>
							</div>				
							<div class="btn-group">
								<button type="button" class="btn grey"><span class="icon-m-weixin"></span>微信分享</button>
							</div>	 #}			
						</div>
						<!--button ends-->
						<!--blockquote starts-->
						<!--blockquote nav starts-->
						<ul class="nav nav-tabs m-Library-nav-tabs m-remove-magin">
                            {% if app %}
                            {% if owner %}
                            <li class="active"><a href="#start" data-toggle="tab">开始</a></li>
                            <li><a href="#information" data-toggle="tab">信息</a></li>
                            {% else %}
                            <li class="active"><a href="#information" data-toggle="tab">信息</a></li>
                            {% endif %}
                            {# <li><a href="#reading-man" data-toggle="tab">学生</a></li> #}
                            {% else %}
                            <li class="active"><a href="#information" data-toggle="tab">信息</a></li>
                            {# <li><a href="#reading-man" data-toggle="tab">学生</a></li> #}
                            {% endif %}
						</ul>
						<!--blockquote nav ends-->
						<!--blockquote content starts-->
						<div class="tab-content">
							<!--blockquote introduction starts-->
                            {% if owner %}
							<div class="tab-pane fade in active" id="start">
                                <ol class="m-steps">
                                    <li>
                                        <span class="m-number">1</span>
                                        <h4>墨客是什么</h4>
                                        <p>墨客是一个专注社会化学习的社区，是互相学习的最简单方法。我们认为，有价值的知识早已存在于网络上，只是需要有人来引导你发现它们而已。墨客使你通过采集文章、链接、视频教程甚至书本上学到的任何东西，并把这些资料有效组织在一起，<b><a href="#">创建学习列表</a></b>，就可以开始简单高效的学习之路。在墨客，你既可以是学员也可以是教练。</p>
                                        <a class="btn small black">+ Mook</a>
                                    </li>
                                    <li>
                                        <span class="m-number">2</span>
                                        <h4>收集内容</h4>
                                        <p> 开始收集各种链接，文章是视频制作成一本课程 "<b>设计</b>"。复制/粘贴您的链接到右边的输入框，点击“添加”就可以收入到您的课程中了。</p>
                                    </li>
                                    <li>
                                        <span class="m-number">3</span>
                                        <h4>邀请学生</h4>
                                        <p>现在你可以通过邮件和微博发送给你的学生，让他们参与进来</p>
                                        {# <a class="btn social"  href="#">
                                            <span class="color-sina">
                                                <span class="icon-m-weibo"></span>
                                            </span>
                                            分享到微博
                                        </a>
                                        <a class="btn social" href="#">
                                            <span class="color-qq">
                                                <span class="icon-m-qq"></span>
                                            </span>
                                            分享到微信
                                        </a> #}
                                    </li>
                                </ol>
							</div>
                            {% endif %}
                            <!--blockquote introduction starts-->
                            <div class="tab-pane fade in {% if owner is empty %}active{% endif %}" id="information">
                                <p>{{ course.summary }}</p>
                                <div class="m-book-introduction">
                                    <a class="m-avatar" href="/u/{{ course.username }}"><img src="{{ course.usercover_m }}"></a>
                                    <p><b><a href="/u/{{ course.username }}">{{ course.username }}</a></b></p>
                                    <p>{{ course.usersummary }}</p>
                                </div>
                            </div>
                            <!--blockquote introduction ends-->
							<div class="tab-pane fade in" id="reading-man">
                                <p class="small">分享您的学习内容，让更多的人加入</p>
                                <ul class="social-login">
                                    <li>
                                        <a class="btn social"  href="#">
                                            <span class="color-sina"><span class="icon-m-weibo"></span></span>分享到微博
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn social" href="#">
                                            <span class="color-qq"><span class="icon-m-qq"></span></span>分享到微信
                                        </a>
                                    </li>
                                </ul>
                            </div>
						</div>
						<!--blockquote content ends-->
						<!--blockquote ends-->
					</div>
           	</div>
			<!--book information ends-->
			<!--book cata starts-->
        		<div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                    {% if app %}
                    {% if owner %}
                    <div class="m-input">
                            <span class="error"><span></span></span>
                            <form id="add-form" class="form-horizontal" method="post" action="/course/add/link/{{ course.cid }}">
                                <label for="link-url-id">新链接<span class="point"></span></label>
                                <input id="link-url-id" type="text" value="" name="_link" placeholder="http://…">
                                <textarea  placeholder="简明概要您的课程..." name="_summary"></textarea>
                                <div class="form-actions" style="display: block">
                                    <p class="small pull-left"><a id="link-cancel" class="cancel" href="#">取消</a></p>
                                    <button type="submit" class="btn">添加</button>
                                </div>
                            </form>
                    </div>
                    {% endif %}
                    {% endif %}
					<ul class="list-unstyled m-catalog" data-sort-url="/course/check/{{ course.cid }}/{{ course.ccid }}/sort">
                        {% if menus %}
                        {% for menu in menus %}
                        {% include 'index/course/article-menu-li-modal.html.twig' %}
                        {% endfor %}
                        {% else %}
                        <li class="empty">
                            <p class="small">您现在已经是一名老师了！<br>马上收集链接、文章和视频，开始学习 <b> {{ course.title }} </b> . <br><br>祝你快乐教学!</p>
                        </li>
                        {% endif %}
                    </ul>
           	    </div>
			<!--book cata ends-->
			</div>
		</div>
	<!--account information ends-->
    </div>

    {# {% include 'index/course/course-edit-modal.html.twig' %} #}
    {# {% include 'index/course/article-edit-modal.html.twig' %} #}

{% endblock %}

