{% extends 'index/layout.html.twig' %}
{% block description %}{{ course.summary }}{% endblock %}
{% set script_controller = 'course/chapters' %}

{% block content %}
<!--account information start-->
    <div class="m-split-view" id="uber-wrap">
    	<div class="container">
			<div class="row">
			<!--book information starts-->
        		<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="m-flow-title">
						<h2 id="course-title-show">{{ course.title }}</h2>
						<p class="small">
                            by <a href="/u/{{ course.username }}">{{ course.username }}</a>
							<span>•</span> {{ menus|length }}篇 <span>•</span>
							<a href="/flows/#{{ course.category }}" id='course-category-show'>{{ course.category }}</a>
						</p>
						<!--button starts-->
						<div class="m-actions">
                            {% if app %}
                            {% if owner %}
							<div class="btn-group">
								{# <button type="button" class="btn grey"  data-reveal-id="edit-course" data-animation="fade"  data-toggle="modal" data-target="#edit-course"><span class="icon-m-pencil"></span>编辑</button> #}
                                <a class="btn grey" data-url="/course/modal/chapter/edit/{{ course.cid }}" data-toggle="modal" href="#edit" data-target="#modal"><span class="icon-m-pencil"></span>编辑</a>
							</div>
                            {% else %}
                            {# <div class="btn-group">
                                <button type="button" class="btn"><span class="icon-m-pencil"></span>开始学习</button>
                            </div> #}
                            {% endif %}
                            {% else %}
                            <div class="btn-group">
                                <button type="button" class="btn" data-toggle="modal" data-target="#id_login">加入 MOOK</button>
                            </div>
                            {% endif %}
							{# <div class="btn-group">
								<button type="button" class="btn grey"><span class="icon-m-weibo"></span>微博分享</button>
							</div>				
							<div class="btn-group">
								<button type="button" class="btn grey"><span class="icon-m-weixin"></span>微信分享</button>
							</div>	 #}			
						</div>
						<!--button ends-->
						<!--blockquote starts-->
						<!--blockquote nav starts-->
						<ul class="nav nav-tabs m-Library-nav-tabs m-remove-magin">
                            {% if app %}
                            {% if owner %}
                            <li class="active"><a href="#start" data-toggle="tab">开始</a></li>
                            <li><a href="#information" data-toggle="tab">导言</a></li>
                            {% else %}
                            <li class="active"><a href="#information" data-toggle="tab">导言</a></li>
                            {% endif %}
                            {# <li><a href="#reading-man" data-toggle="tab">学生</a></li> #}
                            {% else %}
                            <li class="active"><a href="#information" data-toggle="tab">导言</a></li>
                            {# <li><a href="#reading-man" data-toggle="tab">学生</a></li> #}
                            {% endif %}
						</ul>
						<!--blockquote nav ends-->
						<!--blockquote content starts-->
						<div class="tab-content">
							<!--blockquote introduction starts-->
                            {% if owner %}
							<div class="tab-pane fade in active" id="start">
                                <ol class="m-steps">
                                    <li>
                                        <span class="m-number">1</span>
                                        <h4>安装采集工具</h4>
                                        <p>使用墨客采集工具，可以方便的从任何网站保存文章、图片和视频。</p>
                                        <a class="btn small black">+ Mook</a>
                                    </li>
                                    <li>
                                        <span class="m-number">2</span>
                                        <h4>采集网络资料</h4>
                                        <p>开始采集文章整理成一本关于 "<b>设计</b>" 的 MOOK，只要复制 / 粘贴 URL 到右边的输入框，之后写下文章摘要，点击“添加”后，就可以收入这篇文章了。</p>
                                    </li>
                                    <li>
                                        <span class="m-number">3</span>
                                        <h4>邀请学生</h4>
                                        <p>你可以将 MOOK 通过微博或邮件的形式分享出去，邀请更多人参与。</p>
                                        {# <a class="btn social"  href="#">
                                            <span class="color-sina">
                                                <span class="icon-m-weibo"></span>
                                            </span>
                                            分享到微博
                                        </a>
                                        <a class="btn social" href="#">
                                            <span class="color-qq">
                                                <span class="icon-m-qq"></span>
                                            </span>
                                            分享到微信
                                        </a> #}
                                    </li>
                                </ol>
							</div>
                            {% endif %}
                            <!--blockquote introduction starts-->
                            <div class="tab-pane fade in {% if owner is empty %}active{% endif %}" id="information">
                                <p>{{ course.summary }}</p>
                                <div class="m-book-introduction">
                                    <a class="m-avatar" href="/u/{{ course.username }}"><img src="{{ course.usercover_m }}"></a>
                                    <p><b><a href="/u/{{ course.username }}">{{ course.username }}</a></b></p>
                                    <p>{{ course.usersummary }}</p>
                                </div>
                            </div>
                            <!--blockquote introduction ends-->
							<div class="tab-pane fade in" id="reading-man">
                                <p class="small">分享您的学习内容，让更多的人加入</p>
                                <ul class="social-login">
                                    <li>
                                        <a class="btn social"  href="#">
                                            <span class="color-sina"><span class="icon-m-weibo"></span></span>分享到微博
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn social" href="#">
                                            <span class="color-qq"><span class="icon-m-qq"></span></span>分享到微信
                                        </a>
                                    </li>
                                </ul>
                            </div>
						</div>
						<!--blockquote content ends-->
						<!--blockquote ends-->
					</div>
           	</div>
			<!--book information ends-->
			<!--book cata starts-->
        		<div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                    {% if app %}
                    {% if owner %}
                    <div class="m-input">
                            <span class="error"><span></span></span>
                            <form id="add-form" class="form-horizontal" method="post" action="/course/add/link/{{ course.cid }}">
                                <label for="course-link">新链接<span class="point"></span></label>
                                <input id="course-link" type="text" value="" name="_link" placeholder="http://…">
                                <textarea  id="course-link-summary" placeholder="简明概要您的课程..." name="_summary"></textarea>
                                <div class="form-actions" style="display: block">
                                    <p class="small pull-left"><a id="link-cancel" class="cancel" href="#">取消</a></p>
                                    <button type="submit" class="btn">添加</button>
                                </div>
                            </form>
                    </div>
                    {% endif %}
                    {% endif %}
					<ul class="list-unstyled m-catalog" data-sort-url="/course/check/{{ course.cid }}/{{ course.ccid }}/sort">
                        {% if menus %}
                        {% for menu in menus %}
                        {% include 'index/course/article-menu-li-modal.html.twig' %}
                        {% endfor %}
                        {% else %}
                        <li class="empty">
                            <p>您现在的身份是一名教师了！<br>马上采集链接或文章，开始教 <b> {{ course.title }} </b> 这门课吧. <br><br>祝你教学顺利！</p>
                        </li>
                        {% endif %}
                    </ul>
           	    </div>
			<!--book cata ends-->
			</div>
		</div>
	<!--account information ends-->
    </div>

    {# {% include 'index/course/course-edit-modal.html.twig' %} #}
    {# {% include 'index/course/article-edit-modal.html.twig' %} #}

{% endblock %}

