<!-- edit book info -->
    <!-- Modal -->
    {% if app %}
    {% if owner %}
    <form id="course-edit-form" class="form-horizontal" method="post" role="form" action="">
       <div id="edit-course" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog m-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header m-modal-header text-center">
                        <h4 class="modal-title" id="myModalLabel">编辑信息</h4>
                    </div>
                    <div class="modal-body m-modal-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="form-cover" rowspan="3">
                                        <label>封面：</label>
                                        <a onclick="id_image.click()" class="m-flow-cover" href="#"></a>
                                        <input id="id_image" type="file" name="image">
                                        <a onclick="id_image.click()" class="cover-change btn grey tiny" href="#">上传封面</a>
                                    </td>
                                    <td>
                                        <p><label for="id_title">标题</label>
                                            <input id="id_title" value="{{ course.title }}" type="text" name="title" maxlength="256">
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p><label for="id_description">课程简介</label>
                                            <textarea id="id_description"  rows="10"  name="description" cols="40">{{ course.summary }}</textarea>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <label for="id_tags">选择分类：</label>
                             <select class="form-control" name='ccid'>
                            {% if categories %}
                            {% for category in categories %}
                            {% if category.ccid > 0 %}
                            <option {% if course.ccid == category.ccid  %}selected{% endif %} value="{{ category.ccid }}">{{ category.name }}</option>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <option value="0">默认分类</option>
                            {% endif %}
                        </select>
                        </p>
                    </div>
                    <div class="modal-footer m-modal-footer">
                        <p  class="pull-left">
                            <a href="#" data-dismiss="modal" aria-hidden="true">取消</a>
                            <a href="#" data-dismiss="modal" data-target="#delete_course" data-toggle="modal" data-animation="fade"><span class="icon-m-remove"></span></a>
                        </p>
                        <button class="btn" type="submit">确 定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>

    <!--delete  start-->
    <!-- Modal -->
    <form id="course-delete-form" class="form-horizontal" method="post" role="form" action="">
        <div class="modal fade" id="delete_course" tabindex="-1" role="dialog" aria-labelledby="delete_course" aria-hidden="true">
            <div class="modal-dialog m-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header m-modal-header text-center">
                        <h4 class="modal-title" id="ChangelEmailLabel">删除</h4>
                    </div>
                    <div class="modal-body m-modal-body">
                        <p class="text-center">你确认想要删除<br><b>"{{ course.title }}"</b>？</p>
                    </div>
                    <div class="modal-footer m-modal-footer">
                        <span class="pull-left"><a href="#" data-dismiss="modal" aria-hidden="true">取消</a></span>
                        <button type="submit" class="btn">确 定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>
    <!--delete  ends-->

    {% endif %}
    {% endif %}
    <!-- edit book info end -->