{% extends 'index/index/layout.html.twig' %}
{% block title %}墨客 - 发现 分享 互相学习 {% endblock %}
{% block content %}

<!--unlogin-lgimg-container start-->
<div class="m-hompage-unlogin-wrapper">
  <div class="m-hompage-unlogin-overlay">
    <div class="m-overlay-unlogin-row">
      <div class="text-center">
        <h1><span class="icon-m-mo"></span><span class="icon-m-oker"></span></h1>
        <h2>发现 分享 互相学习</h2>
        <div class="btn-box">
          <button type="button" class="btn block accounts" data-url="/register?ajax=true" data-toggle="modal" data-target="#modal">加入墨客</button>
        </div>
  </div></div></div>
</div>
  <!--unlogin-lgimg-container end-->

<!--course-list start-->
<section id="m-featured-home">
  <div class="container m-index-covers-wrapper">
    <div class="row">
      <h2 class="col-lg-12">热门</h2>
      {% for course in courses %}
      <div class="col-lg-3 col-sm-4 col-md-3">
        <div class="m-book-cell">                                                    
            <div class="m-book-cover m-book-cover-large" style="background-image:url({{ course.cover_m|default(course.cover) }})">
              <a href="/course/{{ course.cid }}/{{ course.ptitle|url_encode }}">
                <hgroup>
                  <h3>{{ course.title }}</h3>
                  <img class="m-avatar" src="{{ course.usercover_s|default('') }}">
                  <h4>{{ course.username }}</h4>
                </hgroup></a>
          </div></div></div>
      {% endfor %}
    </div>
  </div>
</section>

    <section id="m-testimonials" >
      <div class="container m-index-author-wrapper">
      <div class="row">
        <h2 class="col-lg-12 text-center">墨客给人的印象</h2>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/homly.jpg"></a>
                    <p>我每天都会浏览一下我的学习列表，大约只会花上 5 分钟的时间，即便如此，我发现自己已经习惯。 </p>
                    <p class="small">— <a href="#">Homly Cheung</a></p>
          </div>                         
        </div>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/cony_sun.jpg"></a>
                    <p>墨客是至今为止在知识管理上最接近我想象的完美产品，所以我很喜欢它。墨客未必适合每一个团队，但如果你正考虑团队里每一个成员的成长问题，建议你来免费尝试一下。  </p>
                    <p class="small">— <a href="#">Cony Sun</a></p>
          </div>                         
        </div>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/jess.jpg"></a>
                    <p>墨客里有各种新奇有趣而又质量很高的课程，他会让你大开眼界的，如果你想长见识，那么不妨成为墨客的用户吧。</p>
                    <p class="small">— <a href="#">Jess</a></p>
          </div>                         
        </div>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/scott.jpg"></a>
                    <p>这是一个开阔视野的好地方，聪明人的观点在这里汇集，比起职场社交网站，墨客的用户显然没那么急功近利，以互相学习为目的，更以思想火花的碰撞来交朋友。</p>
                    <p class="small">— <a href="#">ScottChyi</a></p>
          </div>                         
        </div>
      </div>
    </div>
    </section>
    <section id="home-signup">
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="m-join-now">
            <button type="button" class="btn pull-right accounts" data-url="/register?ajax=true" data-toggle="modal" data-target="#modal">加入墨客</button>
            <h2 class="pull-left">学习由此开始</h2>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock %}