{% extends 'index/layout.html.twig' %}
{% block description %}{% if course.usersummary %}{{ course.usersummary }}{% else %}{{ parent() }}{% endif %}{% endblock %}
{% block content %}

<!--account information start-->
    <div class="m-split-view" id="uber-wrap">
        <div class="container">
            <div class="row">
            <!--book information starts-->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="m-flow-title">
                        <div class="m-profile">
                            <a class="m-avatar" href="#"><img src="{{ user.cover }}"></a>
                            <h2><a href="/settings">{{ user.username }}<span class="icon-m-pencil edit"></span></a></h2>
                            <p class="small"><a href="/settings">编辑签名档<span class="icon-m-pencil edit"></span></a></p>
                        </div>
                        <!--button starts-->
                        <div class="m-actions">
                            <a href="/settings" class="btn grey" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Tooltip on top" ><span class="icon-m-cog"></span>设置</a>
                        </div>
                        <!--button ends-->
                        <!--blockquote starts-->
                        <!--blockquote nav starts-->
                        <ul class="nav nav-tabs m-Library-nav-tabs m-remove-magin">
                            <li class="active"><a href="#points" data-toggle="tab">统计</a></li>
{#                             <li><a href="#badge" data-toggle="tab">徽章</a></li>
                            <li><a href="#student" data-toggle="tab">学生</a></li> #}
                        </ul>
                        <!--blockquote nav ends-->
                        <!--blockquote content starts-->
                        <div class="tab-content">
                            <!--blockquote introduction starts-->
                            <div class="tab-pane fade in active" id="points">

                            </div>
                            <!--blockquote introduction starts-->
                            {# <div class="tab-pane fade in" id="badge">
                                <div id="donut-empty">
                                    <p>
                                        <b>Along the way we might reward you with some badges.</b>
                                        <br> Gibbon is not a game but we do like to reward our hardworking students and top teachers with cool stuff!
                                    </p>
                                </div>
                            </div> #}
                            <!--blockquote introduction ends-->
                            {# <div class="tab-pane fade in" id="student">
                                <div id="donut-empty">
                                    <p>
                                        <b>No students yet?</b>
                                        <br>Everybody has something to teach, we love to hear what you have to share. Remember you don't have to be a genius to start a learning flow, just share some articles, blogs, or video's that helped you get on your feet.
                                    </p>
                                    <a href="#" class="btn m-btn-defult">
                                        <span class="icon-m-add-mook"></span>
                                        创建课程
                                    </a>
                                </div>
                            </div> #}
                        </div>
                        <!--blockquote content ends-->
                        <!--blockquote ends-->
                    </div>
            </div>
            <!--book information ends-->
            <!--book cata starts-->
                <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                    
                    <h6><span>创建的 MOOK</span></h6>
                    <ul class="m-tiny-cover-list">
                        {% if owner %}
                        <li class="m-create">
                            <a href="/create" target="_blank"><span class="icon-m-add-mook"></span><b>创建<br>MOOK</b></a>
                        </li>
                        {% endif %}
                        {% if courses %}
                        {% for course in courses %}
                        <li><div class="m-book-cell">
                                <div class="m-book-cover" style="background-image:url({{ course.cover_s|default(course.cover) }})">
                                    <a href="/course/{{ course.cid }}/{{ course.ptitle|url_encode }}"><span class="m-title">{{ course.title }}</span></a>
                                </div></div>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
{#                     <h6><span>学习的图书</span></h6>
                    <ul class="m-tiny-cover-list">
                        {% if owner %}
                        <li class="m-create">
                            <a href="/flows"><span class="icon-m-view-library"></span><b>浏览<br>文库</b></a>
                        </li>
                        {% endif %}
                        <li>
                            <div class="m-book-cell">
                                <div class="m-book-cover" style="background-image:url(images/cover6.png)">
                                    <a href="#">
                                        <span class="m-title">
                                            左宗棠的新疆攻略
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul> #}
                </div>
            <!--book cata ends-->
            </div>
        </div>
        </div>
    <!--account information ends-->
{% endblock %}